<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  {{ data.message }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-fab
    extended
    class="bg-light-success text-success"
    (click)="onConfirm()"
  >
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="check"></i-tabler
      ><span class="m-4">Confirmer</span>
    </div>
  </button>
  <button mat-fab extended mat-dialog-close cdkFocusInitial>
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="x"></i-tabler
      ><span class="m-4">Fermer</span>
    </div>
  </button>
</mat-dialog-actions>
