.mat-mdc-option .mdc-list-item__primary-text {
  white-space: normal;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  margin-right: auto;
  display: contents;
  color: var(--mat-sys-on-primary-container);
}

.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
  background-color: var(--mat-sys-primary-fixed-dim);
}

.mdc-list-item__primary-text {
  color: var(--mat-sys-on-primary-container);
}
