<form [formGroup]="searchForm!">
  <mat-form-field appearance="outline">
    @if(isLabelDisplayed){
    <mat-label>Recherche</mat-label>
    }
    <input
      matInput
      type="text"
      [matAutocomplete]="auto"
      [formControl]="textInputControl"
    />
    <mat-autocomplete
      class="sidebar-list"
      #auto="matAutocomplete"
      (opened)="onAutocompleteOpened()"
    >
      @for (product of products$ | async; track $index) {
      <mat-option
        [value]="product.product_name"
        (click)="onSelectItem(product)"
        class="p-8 d-flex justify-content-between menu-list-item"
      >
        <span>
          <strong>
            {{ product.product_name }}
          </strong>
        </span>
        <div>
          <img
            mat-card-image
            class="w-auto ah-48"
            src="{{ product.image_small_url }}"
          />
        </div>
      </mat-option>
      }
    </mat-autocomplete>
    @if(textInputControl.value){
    <button mat-icon-button matSuffix (click)="resetForm()">
      <mat-icon color="primary">close</mat-icon>
    </button>
    }
    <button mat-icon-button matSuffix disabled>
      <mat-icon class="icon">search</mat-icon>
    </button>
  </mat-form-field>
</form>
