<h2 mat-dialog-title>{{ dialogParamDataSignin.title }}</h2>
<mat-dialog-content class="mat-typography">
  <div style="display: flex; justify-content: center">
    <app-login-google
      [isSignup]="true"
      (eventLogin)="loginAndClosePopUp($event)"
    ></app-login-google>
  </div>
  <br />
  <div style="display: grid; justify-content: center">
    <button
      mat-button
      class="emailButton"
      style="width: 15.5rem"
      (click)="onSignupWithEmailButton()"
    >
      <span>Créer un compte</span>
      <mat-icon>person</mat-icon>
    </button>
    <br />
    @if(isDisplaySignupForm){
    <div style="display: grid">
      <form
        [formGroup]="signupForm!"
        style="display: grid; justify-content: center"
      >
        <mat-form-field class="fields" appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="srting"
            [formControlName]="USERNAME_INPUT"
            required
          />
          @if(emailControl.invalid){
          <mat-error>Champ obligatoire</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="fields" appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            [formControlName]="EMAIL_INPUT"
            placeholder="Ex. aa@bb.com"
            required
          />
          @if(emailControl.invalid){
          <mat-error>Champ obligatoire</mat-error>
          }
        </mat-form-field>
        <mat-form-field class="fields" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            [formControlName]="PASSWORD_INPUT"
            placeholder="Ex. 100"
            required
          />
          @if(passwordControl.invalid){
          <mat-error>Champ obligatoire</mat-error>
          }
        </mat-form-field>
      </form>
      <button
        mat-flat-button
        color="accent"
        style="border-radius: 20px"
        (click)="signUp()"
        [disabled]="!signupForm?.valid"
      >
        <span>Créer un compte</span>
      </button>
    </div>
    }
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  @for(button of dialogParamDataSignin.buttons; track $index){
  @if(button.isIntialyFocused) {
  <button
    mat-button
    [color]="button.color"
    (click)="(button.action)"
    cdkFocusInitial
  >
    <mat-label>{{ button.label }}</mat-label>
    <mat-icon> {{ button.icon }}</mat-icon>
  </button>
  } @else if (button.isCloseButton) {
  <button mat-button color="danger" mat-dialog-close cdkFocusInitial>
    <mat-label>{{ button.label }}</mat-label>
    <mat-icon>close</mat-icon>
  </button>
  } @else {
  <button
    mat-button
    [color]="button.color"
    [mat-dialog-close]="button.isCloseButton"
    (click)="(button.action)"
  >
    <mat-label>{{ button.label }}</mat-label>
    <mat-icon> {{ button.icon }}</mat-icon>
  </button>
  } }
</mat-dialog-actions>
