@use 'app-palettes' as palettes;
@use 'sass:map';

/// Fonction de récupération de la couleur principale
@function get-couleur-principale() {
  @return map.get(palettes.$palette-principale, 800);
}

/// Fonction de récupération de la couleur des lien (<a>)
@function get-couleur-lien() {
  @return map.get(palettes.$palette-principale, 500);
}

/// Fonction de récupération de la couleur secondaire
@function get-couleur-secondaire() {
  @return map.get(palettes.$palette-secondaire, 600);
}

/// Fonction de récupération de la couleur tertiaire
@function get-couleur-tertiaire() {
  @return map.get(palettes.$palette-danger, 900);
}

/// Fonction de récupération de la couleur d'arrière-plan de l'app
@function get-couleur-arriere-plan-app() {
  @return map.get(palettes.$palette-arriere-plan, background);
}

/// Fonction de récupération de la couleur d'arrière-plan des composants
@function get-couleur-arriere-plan-composant() {
  @return map.get(palettes.$palette-arriere-plan, card);
}

/// Fonction de récupération de la couleur d'arrière-plan des composants
@function get-couleur-arriere-plan-dialog() {
  @return map.get(palettes.$palette-arriere-plan, dialog);
}

/// Fonction de récupération de la couleur d'avertissement
@function get-couleur-avertissement() {
  @return map.get(palettes.$palette-danger, 800);
}

/// Fonction de récupération de la couleur d'erreur
@function get-couleur-erreur() {
  @return map.get(palettes.$palette-erreur, 700);
}

/// Fonction de récupération de la couleur de texte sombre pour emphase haute
@function get-couleur-texte-sombre-emphase-haute() {
  @return  palettes.$sombre-emphase-haute;
}

/// Fonction de récupération de la couleur de texte sombre pour emphase moyenne
@function get-couleur-texte-sombre-emphase-moyenne() {
  @return palettes.$sombre-emphase-moyenne;
}

/// Fonction de récupération de la couleur de texte sombre pour emphase basse
@function get-couleur-texte-sombre-emphase-basse() {
  @return palettes.$sombre-emphase-basse;
}

/// Fonction de récupération de la couleur de texte clair pour emphase haute
@function get-couleur-texte-clair-emphase-haute() {
  @return palettes.$clair-emphase-haute;
}

/// Fonction de récupération de la couleur de texte clair pour emphase moyenne
@function get-couleur-texte-clair-emphase-moyenne() {
  @return palettes.$clair-emphase-moyenne;
}

/// Fonction de récupération de la couleur de texte clair pour emphase basse
@function get-couleur-texte-clair-emphase-basse() {
  @return palettes.$clair-emphase-basse;
}

/// Fonction de récupération de la couleur d'arrière plan des composants switch
/// TODO JJN S4 Non défini dans la charte => à ajouter
@function get-couleur-arriere-plan-switch() {
  @return map.get(palettes.$palette-principale, 300);
}

/// Mixin utilisée pour définir de manière dynamique une configuration flex
/// @param $direction la direction du contenu (ligne ou colonne)
/// @param $j-content alignement horizontal du contenu
/// @param $a-items alignement vertical du contenu
/// @param $gap l'espacement entre les éléments du contenu
@mixin flex($direction:null, $j-content:null, $a-items:null, $gap:null, $f-wrap:null) {
  display: flex;

  @if $direction != null {
    flex-direction: $direction;
  }

  @if $j-content != null {
    justify-content: $j-content;
  }

  @if $a-items != null {
    align-items: $a-items;
  }

  @if $gap != null {
    gap: $gap;
  }

  @if $f-wrap != null {
    flex-wrap: $f-wrap;
  }
}

/// Mixin qui permet d'afficher ... lorsque le texte dépasse de son conteneur
@mixin texte-tronque() {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
