@use "app-utils" as utils;
@use "app-palettes" as palettes;
@use "sass:map";

/// Mixin utilisée pour surcharger le thème des sliders d'Angular Material
@mixin theme($pfr-theme) {
  .mat-mdc-slide-toggle {
    // On force la couleur primaire du switch sélectionné
    .mdc-switch--selected {
      .mdc-switch__shadow {
        background: utils.get-couleur-principale();
      }
    }

    // On force la couleur noire du switch non sélectionné
    .mdc-switch--unselected {
      .mdc-switch__shadow {
        background: utils.get-couleur-secondaire();
      }
    }

    // On supprime l'icone dans tous les cas
    .mdc-switch__icons {
      display: none;
    }
  }
}
