@use 'app-utils' as utils;

/// Mixin utilisée pour surcharger le thème des icônes d'Angular Material
@mixin theme($theme) {
  mat-icon {
    // On augmente la taille de l'icône à 24px de base
    --taille-icone: 1.5rem;

    font-size: var(--taille-icone) !important;
    height: var(--taille-icone) !important;
    width: var(--taille-icone) !important;

    &.developpement {
      color: utils.get-couleur-tertiaire();
    }

    &.pre-production {
      color: utils.get-couleur-secondaire();
    }

    &.production {
      color: utils.get-couleur-principale();
    }

    &.icone-erreur-technique {
      // On augmente la taille de l'icône à 32px dans le cas de l'icône d'erreur technique
      --taille-icone: 3rem;

      // On colore l'icône en rouge
      color: utils.get-couleur-erreur();
    }

    &.icone-acces-refuse {
      // On augmente la taille de l'icône à 80px dans le cas de l'icône d'erreur technique
      --taille-icone: 5rem;

      // On colore l'icône en gris
      color: utils.get-couleur-texte-sombre-emphase-moyenne();
    }
  }
}
