<section
  class="mat-elevation-z8 mw-100"
  [ngClass]="isSection ? 'example-container' : ''"
  tabindex="0"
>
  @if (paginatedDataSource.dataSource && this.loading === false) {
  <table
    mat-table
    [dataSource]="paginatedDataSource.dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    @for (column of columns; track $index) {
    <ng-container [matColumnDef]="column.columDef!">
      <th
        mat-header-cell
        *matHeaderCellDef
        [ngStyle]="{
          'min-width': column.colWidth,
          padding: column.padding ? column.padding : ''
        }"
      >
        {{ column.label }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{
          'min-width': column.colWidth,
          padding: column.padding ? column.padding : '',
          display: isRowCentered ? 'flex' : '',
          'justify-content': isRowCentered ? 'center' : '',
          'align-items': isRowCentered ? 'center' : '',
          height: rowHeight
        }"
      >
        @if(column.type! === columnTypeEnum.IMAGE){
        <div>
          <img
            class="m-4"
            src="{{ element[column.columDef!] }}"
            [ngStyle]="{ height: rowHeight }"
          />
        </div>
        } @else if(column.type! === columnTypeEnum.AVATAR){
        <div>
          <img
            class="rounded-circle p-8"
            src="{{ element[column.columDef!] }}"
            [ngStyle]="{ height: rowHeight }"
          />
        </div>
        } @else if(column.type! === columnTypeEnum.BOOLEAN){
        <div>
          <mat-checkbox
            [checked]="element[column.columDef!]"
            disabled
          ></mat-checkbox>
        </div>
        } @else if(column.type! === columnTypeEnum.CHIPS){
        <div>
          <mat-chip-set>
            @for(option of element[column.columDef!]; track $index){
            <mat-chip disabled>
              @if(isObject(option)){
              {{ option.name }}
              } @else {
              {{ option }}
              }
            </mat-chip>
            }
          </mat-chip-set>
        </div>
        } @else if(column.type! === columnTypeEnum.PERCENT) {
        <!-- {{ element[column.columDef!] | percentFormat : 100 }} -->
        }
        @else if(column.type! === columnTypeEnum.CONSTANT) {
        {{ column.constantValue }}
        }
        @else if(column.type! === columnTypeEnum.STRING) {
        <div
          [ngStyle]="{ height: rowHeight }"
          class="d-flex align-items-center"
        >
          @if(isObject(element[column.columDef!])){
          {{ element[column.columDef!].name }}
          } @else {
          {{ element[column.columDef!] }}
          }
        </div>
        } @else if(column.type === columnTypeEnum.CHART){
        <app-chart
          class="aw-300"
          style="height: 50px !important"
          [type]="column.chartConfig?.type!"
          [data]="column.chartConfig?.data(element)!"
          [options]="column.chartConfig?.options!"
          [height]="column.chartConfig?.height!"
          [width]="column.chartConfig?.width!"
        >
        </app-chart>
        } @else if(column.type! === columnTypeEnum.DATE) {
        <!-- {{ element[column.columDef!] | formatDate }} -->
        } @else if (column.type! === columnTypeEnum.ACTIONS) {
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          (click)="onClickMoreActions($event)"
        >
          <i-tabler name="dots-vertical"></i-tabler>
        </button>
        <mat-menu #menu="matMenu">
          @for (button of buttons; track $index) { @if (button.isEditField) {
          <button mat-menu-item (click)="onEditFieldOnTable(element, columns)">
            <i-tabler class="icon-20 m-r-8" name="edit"></i-tabler>
            <span>Modifier</span>
          </button>
          } @else {
          <button mat-menu-item (click)="button?.action(element, columns)">
            <i-tabler class="icon-20 m-r-8" name="{{ button.icon }}"></i-tabler>
            <span>{{ button.label }}</span>
          </button>
          } }
        </mat-menu>
        } @else { @if(column.isEditable && element.isEditable$ | async ){
        <form [formGroup]="editForm!" class="d-flex gap-8">
          <mat-form-field appearance="outline" class="aw-72 m-b--24">
            <mat-label>{{ column.label }}</mat-label>
            <input
              matInput
              [value]="element[column.columDef!]"
              [formControlName]="EDITABLE_FIELD"
              ngDefaultControl
              (click)="$event.stopPropagation()"
            />
          </mat-form-field>
          <button
            class="bg-light-success text-success m-b--4"
            mat-button
            (click)="onValidateUpdateField(element, $event)"
          >
            <i-tabler class="icon-20 m-r-8" name="check"></i-tabler>
          </button>
        </form>
        } @if(column.type === columnTypeEnum.CURRENCY){
        {{ element[column.columDef!] | currency : "EUR" }}
        } @else {
        {{ element[column.columDef!] }}
        } }
      </td>
      @if(hasFooter ){ @if(columns[0].columDef! === column.columDef!){
      <td mat-footer-cell *matFooterCellDef>
        <strong>{{ column?.footerLabel }}</strong>
      </td>
      } @if(column.type === columnTypeEnum.NUMBER && column.footerFunction !==
      undefined){
      <td mat-footer-cell *matFooterCellDef>
        <strong>{{ column?.footerFunction() }}</strong>
      </td>
      } @if(column.type === columnTypeEnum.CURRENCY && column.footerFunction !==
      undefined){
      <td mat-footer-cell *matFooterCellDef>
        <strong>{{ column?.footerFunction() | currency : "EUR" }}</strong>
      </td>
      } @else {
      <td mat-footer-cell *matFooterCellDef></td>
      } }
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{ height: rowHeight,
      }"
    ></tr>
    @if(hasFooter){
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    }
  </table>

  @if(isPaginated){
  <mat-paginator
    [length]="paginatedDataSource.length"
    [pageIndex]="paginatedDataSource.pageIndex"
    [pageSize]="paginatedDataSource.pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
  } }
</section>
