.row-with-image {
  margin-top: 5px;
  margin-bottom: 5%;
  display: grid;
  justify-content: center;
}

.row-link:hover {
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.mat-elevation-z8 {
  box-shadow: none;
}

.row-with-avatar {
  border-radius: 60px;
  padding: 0.5rem;
}

.example-container {
  height: 400px;
  overflow: auto;
}
