<div class="mat-elevation-z8">
  @if (paginatedDataSource.dataSource && this.loading === false) {
  <table
    mat-table
    [dataSource]="paginatedDataSource.dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    @for (column of columns; track $index) {
    <ng-container [matColumnDef]="column.columDef!">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by {{ column.columDef }}"
      >
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        @if(column.type! === columnTypeEnum.IMAGE){
        <div class="row-with-image">
          <img src="{{ element[column.columDef!] }}" height="80px" />
        </div>
        } @else {
        {{ element[column.columDef!] }}
        }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    @if(isClickable){
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onSelectItem(row)"
      class="row-link"
    ></tr>
    } @else{
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{ height: rowHeight }"
    ></tr>
    }
  </table>

  @if(isPaginated){
  <mat-paginator
    [length]="paginatedDataSource.count"
    [pageIndex]="paginatedDataSource.page"
    [pageSize]="paginatedDataSource.pageSize"
    [pageSizeOptions]="[24]"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
  } } @else {
  <mat-spinner style="margin: 0 auto"></mat-spinner>
  }
</div>
