<div class="mat-elevation-z8" style="max-width: 100%">
  @if (paginatedDataSource.dataSource && this.loading === false) {
  <table
    mat-table
    [dataSource]="paginatedDataSource.dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
  >
    @for (column of columns; track $index) {
    <ng-container [matColumnDef]="column.columDef!">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by {{ column.columDef }}"
        [ngStyle]="{
          'min-width': column.colWidth,
          padding: column.padding ? column.padding : ''
        }"
      >
        {{ column.label }}
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        [ngStyle]="{
          'min-width': column.colWidth,
          padding: column.padding ? column.padding : '',
          display: isRowCentered ? 'flex' : '',
          'justify-content': isRowCentered ? 'center' : '',
          'align-items': isRowCentered ? 'center' : '',
          height: rowHeight
        }"
      >
        @if(column.type! === columnTypeEnum.IMAGE){
        <div class="row-with-image">
          <img
            src="{{ element[column.columDef!] }}"
            [ngStyle]="{ height: rowHeight }"
          />
        </div>
        } @else if(column.type! === columnTypeEnum.AVATAR){
        <div>
          <img
            class="row-with-avatar"
            src="{{ element[column.columDef!] }}"
            [ngStyle]="{ height: rowHeight }"
          />
        </div>
        } @else if(column.type! === columnTypeEnum.BOOLEAN){
        <div>
          <mat-checkbox
            [checked]="element[column.columDef!]"
            disabled
          ></mat-checkbox>
        </div>
        } @else if(column.type! === columnTypeEnum.CHIPS){
        <div>
          <mat-chip-set>
            @for(option of element[column.columDef!]; track $index){
            <mat-chip disabled>{{ option }}</mat-chip>
            }
          </mat-chip-set>
        </div>
        } @else if(column.type! === columnTypeEnum.PERCENT) {
        {{ element[column.columDef!] | percentFormat : 100 }}
        } @else if(column.type! === columnTypeEnum.STRING) {
        <div
          [ngStyle]="{ height: rowHeight }"
          style="display: flex; align-items: center"
        >
          {{ element[column.columDef!] }}
        </div>
        } @else if(column.type! === columnTypeEnum.DATE) {
        {{ element[column.columDef!] | formatDate }}
        } @else if (column.type! === columnTypeEnum.ACTIONS) {
        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          (click)="onClickMoreActions($event)"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEditField(element, columns)">
            <mat-icon color="primary">edit</mat-icon>
            <span>Modifier</span>
          </button>
          <button mat-menu-item (click)="deleteElement(element)">
            <mat-icon color="warn">delete_forever</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
        } @else { @if(column.isEditable && element.isEditable$ | async ){
        <form
          [formGroup]="editForm!"
          style="
            display: inline-flex;
            align-items: center;
            height: 3rem;
            margin-top: 2rem;
            margin-left: -0.5rem;
          "
        >
          <mat-form-field
            style="padding: 0.5rem; font-size: 12px; max-width: 5rem"
            appearance="outline"
          >
            <mat-label>{{ column.label }}</mat-label>
            <input
              matInput
              [value]="element[column.columDef!]"
              [formControlName]="EDITABLE_FIELD"
              ngDefaultControl
              style="height: 0.75rem"
              (click)="$event.stopPropagation()"
            />
          </mat-form-field>
          <button
            mat-button
            (click)="onValidateUpdateField(element, $event)"
            style="height: 3rem; margin-top: -1.5rem"
          >
            <mat-icon color="accent">check</mat-icon>
          </button>
        </form>
        } @else {
        {{ element[column.columDef!] }}
        } }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    @if(isClickable){
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="onSelectItem(row)"
      class="row-link"
    ></tr>
    } @else{
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngStyle]="{ height: rowHeight,
      
      }"
    ></tr>
    }
  </table>

  @if(isPaginated){
  <mat-paginator
    [length]="paginatedDataSource.length"
    [pageIndex]="paginatedDataSource.pageIndex"
    [pageSize]="paginatedDataSource.pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    showFirstLastButtons
    aria-label="Select page"
  >
  </mat-paginator>
  } } @else {
  <mat-spinner style="margin: 0 auto"></mat-spinner>
  }
</div>
