.row-with-image {
  margin-top: 5px;
  margin-bottom: 5%;
  display: grid;
  justify-content: center;
}

.row-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.mat-elevation-z8 {
  box-shadow: none;
}
