<mat-card
  class="m-t-16 overflow-hidden shadow"
  [ngClass]="isClickable ? 'card-hover m-8 aw-300' : ''"
  (click)="onClick($event)"
>
  <div class="d-flex flex-direction-column justify-content-evenly ah-120">
    <div class="d-grid justify-content-center p-8">
      <mat-card-title>
        {{ productInfoModel.label! }}
      </mat-card-title>
      <div class="d-flex justify-content-between p-y-8 m-t-auto">
        <img
          mat-card-image
          class="ah-32 w-auto"
          src="{{ productInfoModel.nutriscore }}"
        />
        <img
          mat-card-image
          class="ah-32 w-auto p-x-8"
          src="{{ productInfoModel.ecoscore }}"
        />
        <img
          mat-card-image
          class="ah-32 w-auto"
          src="{{ productInfoModel.novagroup }}"
        />
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center">
      <img
        mat-card-image
        class="ah-120 w-auto"
        src="{{ productInfoModel.image }}"
      />
    </div>
  </div>
</mat-card>
