<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Faire ma liste de courses</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex gap-16">
    <div>
      <mat-card class="aw-300">
        <mat-calendar
          (selectedChange)="_onSelectedChange($event!)"
          [selected]="selectedDateRange!"
          [dateClass]="dateClass"
        >
        </mat-calendar>
      </mat-card>
      <button class="m-r-8" mat-flat-button (click)="doGroceryList()">
        <div class="d-flex align-items-center">
          <i-tabler class="icon-20 m-r-4" name="playlist-add"></i-tabler
          ><span class="m-4">Faire ma liste de courses</span>
        </div>
      </button>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="w-webkit">
      <app-table-generic
        [columns]="paramsColums"
        [paginatedDataSource]="productInfosPaginated"
        [isPaginated]="false"
        rowHeight="4rem"
      >
      </app-table-generic>
      @if(isNoResultMessageDisplayed){
      <div class="d-flex justify-content-center align-items-center m-t-48">
        <span
          ><b
            >Sélectionner une plage de dates dans lequel des repas ont été
            renseignés avant de faire votre liste</b
          ></span
        >
      </div>
      }
    </div>
  </mat-card-content>
</mat-card>
