<mat-card class="shadow">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0"
      >Administration de l'utilsateur</mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex justify-content-center">
    <mat-card
      class="shadow aw-600 position-absolute d-flex justify-content-center"
    >
      <mat-card-header class="d-flex justify-content-between p-0 m-0">
        <img
          class="aw-600 m-l--24 m-t--24 r-t-r-7 r-t-l-7"
          mat-card-image
          src="../../../../assets/svg/profilebg.jpg"
        />
      </mat-card-header>
      <div
        class="d-flex justify-content-center align-items-end m-t--60 position-relative"
      >
        <img
          [src]="user?.image"
          class="aw-100 rounded-circle border-primary bg-light"
        />
        <button class="m-l--24" mat-mini-fab (click)="openPopInAvatar()">
          <i-tabler class="icon-20 m-r-4" name="pencil-bolt"></i-tabler>
        </button>
      </div>
      <mat-card-content class="m-t--48">
        <form
          [formGroup]="editProfilForm!"
          class="m-t-60 gap-16 d-flex flex-wrap-wrap justify-content-center"
        >
          <mat-form-field appearance="outline">
            <mat-label>Id</mat-label>
            <input
              matInput
              type="text"
              [formControlName]="ID_FIELD"
              [value]="user?.id"
              readonly
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input
              matInput
              type="text"
              [formControlName]="NAME_FIELD"
              [value]="user?.name"
              ngDefaultControl
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Prenom</mat-label>
            <input
              matInput
              type="text"
              [formControlName]="FIRSTNAME_FIELD"
              [value]="user?.firstname"
              ngDefaultControl
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input
              matInput
              type="text"
              [formControlName]="USERNAME_FIELD"
              [value]="user?.username"
              ngDefaultControl
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              type="text"
              [formControlName]="EMAIL_FIELD"
              [value]="user?.email"
              ngDefaultControl
            />
          </mat-form-field>
          <mat-form-field appearance="outline" class="aw-212">
            <mat-label>Mot de passe</mat-label>
            <input
              matInput
              [type]="hidePassword ? 'password' : 'text'"
              [formControlName]="PASSWORD_FIELD"
              ngDefaultControl
            />
            <button
              mat-icon-button
              matSuffix
              (click)="showPassword($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon>{{
                hidePassword ? "visibility_off" : "visibility"
              }}</mat-icon>
            </button>
            @if(passwordControl.invalid){
            <mat-error>Champ obligatoire</mat-error>
            }
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Taille</mat-label>
            <input
              matInput
              type="number"
              [formControlName]="HEIGHT_FIELD"
              [value]="user?.height"
              ngDefaultControl
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Poids</mat-label>
            <input
              matInput
              type="number"
              [formControlName]="WEIGHT_FIELD"
              [value]="user?.name"
              ngDefaultControl
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Origine</mat-label>
            <input
              matInput
              type="text"
              [formControlName]="ORIGIN_FIELD"
              [value]="user?.origin"
              ngDefaultControl
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Genre</mat-label>
            <mat-select
              [formControlName]="GENDER_FIELD"
              [compareWith]="compareCategoryObjects"
            >
              <mat-option [value]="null"></mat-option>
              @for (gender of genders; track $index) {
              <mat-option [value]="gender.id">{{ gender.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="aw-212">
            <mat-label>Date de création</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [formControlName]="DATE_CREATION_FIELD"
              [value]="user?.dateCreation"
              ngDefaultControl
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-checkbox
            [formControlName]="IS_ACTIVE_FIELD"
            [checked]="user?.isActive"
            >Actif</mat-checkbox
          >
          <div class="d-flex flex-column aw-288">
            <mat-form-field class="aw-285" appearance="outline">
              <mat-label>Roles</mat-label>
              <mat-select
                [formControlName]="ROLES_FIELD"
                [compareWith]="compareCategoryObjects"
                [(value)]="selectedRoles"
                multiple
              >
                @for (role of roles; track $index) {
                <mat-option [value]="role">{{ role.code }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <mat-chip-set>
              @for (role of selectedRoles; track $index) {
              <mat-chip [value]="role">{{ role.code }}</mat-chip>
              }
            </mat-chip-set>
          </div>
        </form>
        <div class="d-flex gap-16 justify-content-center m-y-16">
          <button class="m-r-8" mat-button (click)="backToAdminstration()">
            <div class="d-flex align-items-center">
              <i-tabler class="icon-20 m-r-4" name="arrow-left"></i-tabler
              ><span class="m-4">Retour</span>
            </div>
          </button>
          <button
            class="m-r-8"
            [ngClass]="
              !isFormValid()
                ? 'bg-light text-dark'
                : 'bg-light-success text-success'
            "
            mat-flat-button
            (click)="updateUserAdmin()"
            [disabled]="!isFormValid()"
          >
            <div class="d-flex align-items-center">
              <i-tabler class="icon-20 m-r-4" name="user-edit"></i-tabler
              ><span class="m-4">Modifier</span>
            </div>
          </button>
          <button class="m-r-8" mat-button (click)="reinitPreviousValue()">
            <div class="d-flex align-items-center">
              <i-tabler class="icon-20 m-r-4" name="restore"></i-tabler
              ><span class="m-4">Restaurer les valeurs enregistrées</span>
            </div>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
