.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 100%;
}

.app-sidenav {
  width: 200px;
  height: 100vh;
  border-radius: 1rem;
  margin: 1rem 0.5rem 1rem 1rem;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
