<mat-sidenav-container [ngClass]="['blue_theme', isDarkMode ? 'dark-theme' : 'light-theme']" style="height: 100%">
  <mat-sidenav #sidenav opened="true" mode="side" class="sidebarNav p-y-16">
    <mat-nav-list class="sidebar-list flex-1-auto">
      @for (item of items; track $index) {
      <a
        mat-list-item
        [ngClass]="{
          activeMenu: item.route ? router.isActive(item.route, true) : false
        }"
        class="menu-list-item"
        (click)="onItemSelected(item)"
      >
        <i-tabler name="{{ item.icon }}" matListItemIcon></i-tabler>
        <span class="hide-menu" matListItemTitle>{{ item.title }}</span>
      </a>
      }
    </mat-nav-list>

    <div class="dark-mode-toggle">
      <i-tabler name="sun" class="icon-18 toggle-icon"></i-tabler>
      <mat-slide-toggle
        [checked]="isDarkMode"
        (change)="toggleDarkMode()"
        color="primary"
      ></mat-slide-toggle>
      <i-tabler name="moon" class="icon-18 toggle-icon"></i-tabler>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="pageWrapper">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
