<mat-sidenav-container class="app-container">
  <mat-sidenav
    opened="true"
    disableClose="true"
    #sidenav
    mode="side"
    class="fixed top-0 left-0 z-40 w-100 h-screen transition-transform -translate-x-full sm:translate-x-0"
    aria-label="Sidebar"
  >
    <mat-nav-list
      class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800"
    >
      <mat-list-item
        [routerLink]="['/product']"
        routerLinkActive="router-link-active"
      >
        <div
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon> shopping_cart</mat-icon>
          <span>Aliment</span>
        </div>
      </mat-list-item>

      <mat-list-item
        [routerLink]="['/compare']"
        routerLinkActive="router-link-active"
      >
        <div
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon> compare_arrows</mat-icon>
          <span>Comparer</span>
        </div>
      </mat-list-item>
      <mat-list-item
        [routerLink]="['/meal']"
        routerLinkActive="router-link-active"
        [disabled]="!isAuthorizedMealAccess"
      >
        <div
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group"
        >
          <mat-icon> local_dining</mat-icon>
          <span>Repas</span>
          @if(!isAuthorizedMealAccess){
          <mat-icon matSuffix>lock</mat-icon>
          }
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <app-sidenav-content></app-sidenav-content>
</mat-sidenav-container>
