.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: 93vh !important;
}

.app-sidenav {
  width: 220px;
  height: 96%;
  border-radius: 1rem;
  margin: 1rem 0.5rem 1rem 1rem;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

mat-drawer-content {
  position: relative;
  z-index: 1;
  display: block;
  height: 100%;
  overflow: auto;
  /* margin: 1rem 0 1rem 2rem !important; */
  padding: 1rem;
}
