<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    opened="true"
    mode="side"
    class="app-sidenav"
    aria-label="Sidebar"
  >
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/product']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListItemIcon> shopping_cart</mat-icon>
        <span matListItemTitle>Aliment</span>
      </a>

      <a
        mat-list-item
        [routerLink]="['/compare']"
        routerLinkActive="router-link-active"
      >
        <mat-icon matListItemIcon> compare_arrows</mat-icon>
        <span matListItemTitle>Comparer</span>
      </a>
      <a
        mat-list-item
        [routerLink]="['/meal']"
        routerLinkActive="router-link-active"
        [disabled]="!isAuthorizedMealAccess"
      >
        @if(!isAuthorizedMealAccess){
        <mat-icon matListItemIcon matSuffix>lock</mat-icon>
        } @else {
        <mat-icon matListItemIcon> local_dining</mat-icon>
        }
        <span matListItemTitle>Repas</span>
      </a>
      <a
        mat-list-item
        [routerLink]="['/grocery']"
        routerLinkActive="router-link-active"
        [disabled]="!isAuthorizedMealAccess"
      >
        @if(!isAuthorizedMealAccess){
        <mat-icon matListItemIcon matSuffix>lock</mat-icon>
        } @else {
        <mat-icon matListItemIcon> playlist_add</mat-icon>
        }
        <span matListItemTitle>Liste de courses</span>
      </a>
      <a
        mat-list-item
        [routerLink]="['/cgm']"
        routerLinkActive="router-link-active"
        [disabled]="!isAuthorizedMealAccess"
      >
        @if(!isAuthorizedMealAccess){
        <mat-icon matListItemIcon matSuffix>lock</mat-icon>
        } @else {
        <mat-icon matListItemIcon> show_chart</mat-icon>
        }
        <span matListItemTitle>Glycémie</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    style="padding: 1rem 1rem 1rem 2rem; height: -webkit-fill-available"
  >
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
