<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    Filtres de recherche utilisateurs
  </mat-expansion-panel-header>
  <form
    [formGroup]="filterForm!"
    style="display: flex; justify-content: space-evenly; flex-wrap: wrap"
  >
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Nom d'utilisateur</mat-label>
      <input matInput type="text" [formControlName]="USERNAME_FIELD" />
    </mat-form-field>
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput type="text" [formControlName]="NAME_FIELD" />
    </mat-form-field>
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Prenom</mat-label>
      <input matInput type="text" [formControlName]="FIRSTNAME_FIELD" />
    </mat-form-field>
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" [formControlName]="EMAIL_FIELD" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="fields">
      <mat-label>Roles</mat-label>
      <mat-select
        [formControlName]="ROLES_FIELD"
        [compareWith]="compareCategoryObjects"
        multiple
        ngDefaultControl
      >
        @for (role of rolesOptions; track $index) {
        <mat-option [value]="role">{{ role.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Plage de dates</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [formControlName]="DATE_CREATION_START_FIELD" />
        <input matEndDate [formControlName]="DATE_CREATION_END_FIELD" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Origine</mat-label>
      <mat-select
        [formControlName]="ORIGIN_FIELD"
        [compareWith]="compareCategoryObjects"
        ngDefaultControl
      >
        <mat-option [value]="null"></mat-option>
        @for (option of originCodeLabels; track $index) {
        <mat-option [value]="option.code">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="fields" appearance="outline">
      <mat-label>Statut</mat-label>
      <mat-select
        [formControlName]="STATUS_USER_FIELD"
        [compareWith]="compareCategoryObjects"
        ngDefaultControl
      >
        @for (option of statusCodeLabels; track $index) {
        <mat-option [value]="option.code">{{ option.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-fab extended color="accent" (click)="search()">
      <mat-icon>search</mat-icon>
      Rechercher
    </button>
    <button mat-fab extended color="primary" (click)="reinitFilters()">
      <mat-icon>settings_backup_restore</mat-icon>
      Reinitialiser les filtres
    </button>
  </form>
</mat-expansion-panel>
<br />
<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header
    >Resultats de la recherche</mat-expansion-panel-header
  >
  <app-table-generic
    [buttons]="buttonsParams"
    [isPaginated]="true"
    [columns]="paramsColums"
    [paginatedDataSource]="usersPaginated!"
    [pageSizeOptions]="[10, 20, 50]"
    (eventPageSizeChange)="changePageSize($event)"
    (eventPageIndexChange)="changePageIndex($event)"
    [rowHeight]="'4rem'"
  ></app-table-generic>
</mat-expansion-panel>
