<mat-card class="cardWithShadow theme-card border-success shadow">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0"
      >Petit déjeuner ({{ dateBreakfast ?? "No time" }})</mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="b-t-1 d-grid">
    <app-table-generic
      [buttons]="buttonsParams"
      [isPaginated]="false"
      (onValidateUpdateItem)="updateLProductMealQuantity($event)"
      [columns]="columnParamsMeal"
      [paginatedDataSource]="dataSourceBreakfast"
      [rowHeight]="'40px'"
    ></app-table-generic>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow theme-card border-primary shadow">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0"
      >Déjeuner ({{ dateLunch ?? "No time" }})</mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="b-t-1 d-grid">
    <app-table-generic
      [buttons]="buttonsParams"
      [isPaginated]="false"
      (onValidateUpdateItem)="updateLProductMealQuantity($event)"
      [columns]="columnParamsMeal"
      [paginatedDataSource]="dataSourceLunch"
      [rowHeight]="'40px'"
    ></app-table-generic>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow theme-card border-warning shadow">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0"
      >Diner ({{ dateDinner ?? "No time" }})</mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex flex-column">
    <app-table-generic
      [buttons]="buttonsParams"
      (onValidateUpdateItem)="updateLProductMealQuantity($event)"
      [isPaginated]="false"
      [columns]="columnParamsMeal"
      [paginatedDataSource]="dataSourceDinner"
      [rowHeight]="'40px'"
    ></app-table-generic>
  </mat-card-content>
</mat-card>
