<mat-card
  class="cardWithShadow theme-card shadow"
  [ngClass]="
    mealProductsBreakfast.length > 0 ? 'border-success ' : 'border-light'
  "
>
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Petit déjeuner </mat-card-title>
    @if(dateBreakfast){
    <mat-card-title class="m-b-0"> {{ dateBreakfast }}</mat-card-title>
    }
  </mat-card-header>
  <mat-card-content class="b-t-1 d-grid">
    <app-table-generic
      [buttons]="buttonsParams"
      [isPaginated]="false"
      (onValidateUpdateItem)="updateLProductMealQuantity($event)"
      [columns]="columnParamsMeal"
      [paginatedDataSource]="dataSourceBreakfast"
      [rowHeight]="'40px'"
    ></app-table-generic>
  </mat-card-content>
</mat-card>

<mat-card
  class="cardWithShadow theme-card shadow"
  [ngClass]="mealProductsLunch.length > 0 ? 'border-primary ' : 'border-light'"
>
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Déjeuner </mat-card-title>
    @if(dateLunch){
    <mat-card-title class="m-b-0"> {{ dateLunch }}</mat-card-title>
    }
  </mat-card-header>
  <mat-card-content class="b-t-1 d-grid">
    <app-table-generic
      [buttons]="buttonsParams"
      [isPaginated]="false"
      (onValidateUpdateItem)="updateLProductMealQuantity($event)"
      [columns]="columnParamsMeal"
      [paginatedDataSource]="dataSourceLunch"
      [rowHeight]="'40px'"
    ></app-table-generic>
  </mat-card-content>
</mat-card>

<mat-card
  class="cardWithShadow theme-card shadow"
  [ngClass]="mealProductsDinner.length > 0 ? 'border-warning ' : 'border-light'"
>
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Diner </mat-card-title>
    @if(dateDinner){
    <mat-card-title class="m-b-0"> {{ dateDinner }}</mat-card-title>
    }
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex flex-column">
    <app-table-generic
      [buttons]="buttonsParams"
      (onValidateUpdateItem)="updateLProductMealQuantity($event)"
      [isPaginated]="false"
      [columns]="columnParamsMeal"
      [paginatedDataSource]="dataSourceDinner"
      [rowHeight]="'40px'"
    ></app-table-generic>
  </mat-card-content>
</mat-card>
