<div>
  @if(user$ | async; as user){ @if(user.image){
  <div style="cursor: pointer">
    <ngx-avatars
      src="{{ user.image }}"
      [matMenuTriggerFor]="menu"
      [borderColor]="'#f1f1f1'"
      [round]="true"
    ></ngx-avatars>
  </div>
  } } @else {
  <button mat-fab color="accent" [matMenuTriggerFor]="menu">
    <mat-icon>person</mat-icon>
  </button>
  }

  <mat-menu #menu="matMenu">
    @if (user$ | async; as user) {
    <button mat-menu-item [routerLink]="'/settings'">
      <label>Parametres</label>
      <mat-icon>settings</mat-icon>
    </button>
    @if (hasUserAdminRole(user.roles)) {
    <button mat-menu-item [routerLink]="'/administration'">
      <label>Administration</label>
      <mat-icon>people</mat-icon>
    </button>
    }
    <button mat-menu-item (click)="logOut()">
      <label>Se Deconnecter</label>
      <mat-icon>cancel</mat-icon>
    </button>
    } @else {
    <button mat-menu-item (click)="signIn()">Se Connecter</button>
    <button mat-menu-item (click)="signUp()">Creer un compte</button>
    }
  </mat-menu>
</div>
