<mat-toolbar
  class="app-topstrip bg-light-secondary text-white p-y-16 p-x-24 w-100 d-flex align-items-center justify-content-between position-sticky top-0 z-index-1000"
>
  <button mat-icon-button (click)="triggerSidenav()">
    <mat-icon>list</mat-icon>
  </button>
  <button mat-icon-button (click)="onClick()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <app-search-product-autocomplete
    class="m-t-16"
    [isLabelDisplayed]="false"
    [isRedirectOnSelect]="true"
  ></app-search-product-autocomplete>
  @if(user$ | async; as user){ @if(!isRoleInUser(user, roleTier2)){
  <button
    mat-flat-button
    color="primary"
    style="border-radius: 20px; margin: 1rem"
    [routerLink]="['/subscribe']"
    routerLinkActive="router-link-active"
  >
    @if(isRoleInUser(user, roleTier1)){
    <span>Mettre à niveau</span>
    } @else {
    <span>S'abonner</span>
    }
  </button>
  }

  <app-profile></app-profile>
  } @else {

  <button color="danger" mat-button class="m-16" (click)="login()">
    <span>Se connecter</span>
    <mat-icon>person</mat-icon>
  </button>
  <button color="secondary" mat-button class="m-16" (click)="register()">
    <span>S'inscrire</span>
    <mat-icon>person_add</mat-icon>
  </button>

  }
</mat-toolbar>
<app-banner></app-banner>
