<mat-toolbar class="topbar bg-light gap-10">
  <button mat-icon-button (click)="triggerSidenav()">
    <i-tabler name="menu-2"></i-tabler>
  </button>
  <button mat-icon-button (click)="onClick()">
    <i-tabler name="home"></i-tabler>
  </button>
  <span class="flex-1-auto"></span>
  <app-search-product-autocomplete
    class="m-t-16 m-x-8"
    [isRedirectOnSelect]="true"
  ></app-search-product-autocomplete>
  @if(user$ | async; as user){ @if(!isRoleInUser(user, roleTier2)){
  <button
    mat-flat-button
    matButton="filled"
    class="bg-success m-8"
    [routerLink]="['/subscribe']"
    routerLinkActive="router-link-active"
  >
    @if(isRoleInUser(user, roleTier1)){
    <span>Mettre à niveau</span>
    } @else {
    <span>S'abonner</span>
    }
  </button>
  }

  <app-profile></app-profile>
  } @else {

  <button mat-flat-button (click)="login()">
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="user-check"></i-tabler
      ><span class="m-4">Se connecter</span>
    </div>
  </button>
  <button
    mat-flat-button
    class="bg-light-success text-success"
    (click)="register()"
  >
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="user-plus"></i-tabler
      ><span class="m-4">S'inscrire</span>
    </div>
  </button>
  }
</mat-toolbar>
<app-banner></app-banner>
