<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header> Apports journlier </mat-expansion-panel-header>
  Femme&nbsp;<mat-slide-toggle
    color="primary"
    [(ngModel)]="isMaleReco"
    (change)="
      setNutrimentsChartsBarsData(
        nutrimentsBreakfast,
        nutrimentsLunch,
        nutrimentsDinner
      )
    "
  >
    Homme
  </mat-slide-toggle>
  <br />
  <br />
  @for(chartData of dailyRecommanderIncomeChartsBarData; track $index){
  <app-chart
    type="bar"
    [data]="chartData!"
    [options]="optionsBar"
    [height]="30"
  ></app-chart>
  }
</mat-expansion-panel>
