<mat-card class="cardWithShadow theme-card w-fit-content shadow">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Apports journalier</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex flex-column align-items-center gap-16">
    <mat-radio-group
      [(ngModel)]="isMaleReco"
      (change)="
        setNutrimentsChartsBarsData(
          nutrimentsBreakfast,
          nutrimentsLunch,
          nutrimentsDinner
        )
      "
    >
      <mat-radio-button [value]="true">Homme</mat-radio-button>
      <mat-radio-button [value]="false">Femme</mat-radio-button>
    </mat-radio-group>

    <div class="d-flex gap-8">
      @for(chartData of dailyRecommanderIncomeChartsBarData; track $index){
      <div
        class="d-flex flex-wrap-wrap flex-column gap-16 align-content-center"
      >
        <app-chart
          class="d-flex"
          type="bar"
          [data]="chartData!.chart"
          [options]="chartData!.optionsBar!"
          [width]="90"
          [height]="500"
        ></app-chart>
      </div>
      <mat-divider vertical></mat-divider>
      }
    </div>
  </mat-card-content>
</mat-card>
