<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header> Apports journlier </mat-expansion-panel-header>
  Femme&nbsp;<mat-slide-toggle
    color="primary"
    [(ngModel)]="isMaleReco"
    (change)="
      setNutrimentsChartsBarsData(
        nutrimentsBreakfast,
        nutrimentsLunch,
        nutrimentsDinner
      )
    "
  >
    Homme
  </mat-slide-toggle>
  <br />
  <br />
  @for(chartData of dailyRecommanderIncomeChartsBarData; track $index){
  <div style="display: flex; flex-direction: column">
    <span style="display: flex; justify-content: center">{{
      chartData.label
    }}</span>
    <app-chart
      type="bar"
      [data]="chartData!.chart"
      [options]="optionsBar"
      [height]="25"
    ></app-chart>
  </div>
  <br />
  }
</mat-expansion-panel>
