<h2 mat-dialog-title>Réinitialiser mon mot de passe</h2>
<mat-dialog-content
  class="b-t-1 mat-typography d-flex flex-column align-items-center"
>
  <form
    [formGroup]="resetPasswordForm!"
    class="p-24 d-flex flex-column align-items-start"
  >
    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Adresse email</mat-label>
    <mat-form-field appearance="outline">
      <input matInput type="email" [formControlName]="EMAIL_INPUT" required />
      @if(emailControl.invalid){
      <mat-error>Champ de type email obligatoire</mat-error>
      }
    </mat-form-field>
  </form>
  @if(requestSend){
  <span class="d-block f-w-500 text-center m-y-24">
    Un lien de réinitialisation vous a été envoyé par email si le compte existe
  </span>
  }
  <span class="d-block f-w-500 text-center"
    >Vous avez déjà un compte ?
    <a
      href
      (click)="redirectSignInPopin($event)"
      class="text-decoration-none text-primary f-w-500 f-s-14"
    >
      Se connecter</a
    >
  </span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    mat-flat-button
    [ngClass]="
      resetPasswordForm?.valid
        ? 'bg-light-success text-success'
        : 'bg-light text-dark'
    "
    (click)="resetPwd()"
    [disabled]="emailControl.invalid"
  >
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="user"></i-tabler>
      <span class="m-4">Réinitialiser</span>
    </div>
  </button>
  <button mat-button mat-dialog-close>
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="x"></i-tabler
      ><span class="m-4">Fermer</span>
    </div>
  </button>
</mat-dialog-actions>
