<mat-card class="shadow">
  <mat-card-header class="d-flex justify-content-start">
    <mat-card-title class="m-b-0">{{ gaugeCardParam.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <app-chart
      *ngIf="gaugeCardParam?.width && gaugeCardParam?.height"
      type="doughnut"
      [data]="gaugeChartData!"
      [options]="options"
      [width]="gaugeCardParam.width!"
      [height]="gaugeCardParam.height!"
    ></app-chart>
    <div class="d-flex justify-content-evenly">
      <span [ngStyle]="{ color: gaugeCardParam.color }">
        <b>{{ gaugeCardParam.value! | roundNumberDecimal : 0 }}</b>
      </span>
      <span>{{ gaugeCardParam.unit }}</span>
    </div>
  </mat-card-content>
</mat-card>
