<app-search-product
  (eventHttpProductsChange)="onHttpProductsChange($event)"
  (eventHttpProductChange)="onHttpProductChange($event)"
  [pageSize]="pageSize"
></app-search-product>
<br />
<mat-expansion-panel [expanded]="true" style="max-width: 99%">
  <mat-expansion-panel-header>
    Résultats de la recherche</mat-expansion-panel-header
  >
  <app-card-result-generic
    [httpProducts]="httpProducts"
    [pageSize]="pageSize"
    [isSelectableCard]="false"
  ></app-card-result-generic>
</mat-expansion-panel>
