<div class="d-flex align-items-center justify-content-center">
  <form [formGroup]="searchForm!" class="d-grid justify-content-center">
    <mat-chip-listbox [formControlName]="CHIP_OPTION">
      @for (chipParam of chipList; track $index) {
      <mat-chip-option color="primary" [selected]="selectedChip">{{
        chipParam
      }}</mat-chip-option>
      }
    </mat-chip-listbox>
    <mat-form-field appearance="outline">
      <input
        matInput
        type="text"
        placeholder="Search product"
        aria-label="Search"
        [formControlName]="INPUT_TEXT"
        (keydown.enter)="$event.preventDefault()"
        (keyup.enter)="search(pageIndex, pageSize)"
      />
      @if(textInputControl.value){
      <button mat-icon-button matSuffix (click)="resetForm()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </form>

  <button
    class="m-x-8 m-t-4"
    mat-fab
    extended
    (click)="search(pageIndex, pageSize)"
  >
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="search"></i-tabler
      ><span class="m-4">Rechercher</span>
    </div>
  </button>
</div>
