@use "variables" as *;

.highlight-date {
  background-color: $light-success !important;
  border-radius: 25px;
}

.custom-chip {
  height: auto !important;
  padding: 8px 0px !important;

  .chip-content {
    line-height: 1.2;
  }

  .chip-label {
    font-weight: 600;
  }

  .chip-time {
    font-size: 0.75rem;
    color: gray;
  }
}
