<mat-card class="cardWithShadow theme-card">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Faire mes repas</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1 d-grid">
    <div class="m-16">
      <h3>Journée du {{ selectedDate }}</h3>
    </div>
    <div class="d-flex justify-content-center gap-24">
      <mat-card class="cardWithShadow theme-card aw-400 shadow">
        <mat-calendar
          (selectedChange)="onDateChange($event!)"
          [dateClass]="dateClass"
        >
        </mat-calendar>
      </mat-card>
      <mat-card class="cardWithShadow theme-card shadow">
        <mat-card-header class="d-flex justify-content-between">
          <mat-card-title class="m-b-0"
            >A quelle heure j'ai mangé ?</mat-card-title
          >
        </mat-card-header>
        <mat-card-content
          class="b-t-1 d-flex flex-column gap-16 justify-content-between h-webkit"
        >
          <form
            class="d-flex gap-16 align-items-end"
            [formGroup]="mealCreateForm"
          >
            <div class="d-flex flex-column gap-16">
              <mat-chip-listbox [formControlName]="MEAL_CREATE_CHIPS_SELECT">
                @for (meal of mealsCreate; track $index) {
                <mat-chip-option
                  [ngClass]="meal.disabled ? '' : meal.class"
                  [value]="meal"
                  [disabled]="meal.disabled!"
                  >{{ meal.label }}</mat-chip-option
                >
                }
              </mat-chip-listbox>

              <mat-form-field appearance="outline">
                <mat-label>Heure du repas</mat-label>
                <input
                  matInput
                  [formControlName]="TIME_CREATE_MEAL_INPUT"
                  [matTimepicker]="pickerCreate"
                />
                <mat-timepicker-toggle matIconSuffix [for]="pickerCreate" />
                <mat-timepicker #pickerCreate />
              </mat-form-field>
            </div>

            <button
              mat-fab
              extended
              class="m-b-16"
              [ngClass]="
                this.mealCreateChipsControl.value &&
                this.timeCreateMealControl.value
                  ? 'bg-light-success text-success'
                  : 'bg-light text-dark'
              "
              (click)="addMeal()"
              [disabled]="
                !(
                  this.mealCreateChipsControl.value &&
                  this.timeCreateMealControl.value
                )
              "
            >
              <div class="d-flex align-items-center">
                <i-tabler class="icon-20 m-r-4" name="bowl-spoon"></i-tabler
                ><span class="m-4">Ajouter un repas</span>
              </div>
            </button>
          </form>
          <mat-divider></mat-divider>
          <form
            class="d-flex gap-16 align-items-end"
            [formGroup]="mealEditForm"
          >
            <div class="d-flex flex-column gap-16">
              <mat-chip-listbox [formControlName]="MEAL_EDIT_CHIPS_SELECT">
                @for (meal of meals; track $index) {
                <mat-chip-option
                  class="custom-chip"
                  [ngClass]="meal.disabled ? '' : meal.class"
                  [value]="meal"
                  [disabled]="meal.disabled!"
                >
                  <div
                    class="chip-content d-flex flex-column align-content-center"
                  >
                    <span class="chip-label d-flex justify-content-center">{{
                      meal.label
                    }}</span>
                    @if(meal.timeHour){
                    <span class="chip-time d-flex justify-content-center">{{
                      meal.timeHour
                    }}</span>
                    }
                  </div>
                </mat-chip-option>
                }
              </mat-chip-listbox>

              <mat-form-field appearance="outline">
                <mat-label>Heure du repas</mat-label>
                <input
                  matInput
                  [formControlName]="TIME_EDIT_MEAL_INPUT"
                  [matTimepicker]="pickerEdit"
                />
                <mat-timepicker-toggle matIconSuffix [for]="pickerEdit" />
                <mat-timepicker #pickerEdit />
              </mat-form-field>
            </div>
            <button
              mat-fab
              extended
              class="m-b-16"
              [ngClass]="
                this.mealEditChipsControl.value &&
                this.timeEditMealControl.value
                  ? 'bg-light-success text-success'
                  : 'bg-light text-dark'
              "
              [disabled]="
                !(
                  this.mealEditChipsControl.value &&
                  this.timeEditMealControl.value
                )
              "
              (click)="editMeal()"
            >
              <div class="d-flex align-items-center">
                <i-tabler class="icon-20 m-r-4" name="bowl-spoon"></i-tabler
                ><span class="m-4">Modifier un repas</span>
              </div>
            </button>
          </form>
          <mat-divider></mat-divider>
          <form
            class="d-flex align-items-center gap-16"
            [formGroup]="mealDeleteForm"
          >
            <mat-chip-listbox [formControlName]="MEAL_DELETE_SELECT_CHIP">
              @for (meal of meals; track $index) {
              <mat-chip-option
                class="custom-chip"
                [ngClass]="meal.disabled ? '' : meal.class"
                [value]="meal"
                [disabled]="meal.disabled!"
                ><div
                  class="chip-content d-flex flex-column align-content-center"
                >
                  <span class="chip-label d-flex justify-content-center">{{
                    meal.label
                  }}</span>
                  @if(meal.timeHour){
                  <span class="chip-time d-flex justify-content-center">{{
                    meal.timeHour
                  }}</span>
                  }
                </div></mat-chip-option
              >
              }
            </mat-chip-listbox>
            <button
              mat-fab
              extended
              [ngClass]="
                this.mealDeleteChipControl.value
                  ? 'bg-light-error text-error'
                  : 'bg-light text-dark'
              "
              (click)="deleteMeal()"
              [disabled]="!this.mealDeleteChipControl.value"
            >
              <div class="d-flex align-items-center">
                <i-tabler class="icon-20 m-r-4" name="soup-off"></i-tabler
                ><span class="m-4">Supprimer un repas</span>
              </div>
            </button>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="cardWithShadow theme-card shadow">
        <mat-card-header class="d-flex justify-content-between">
          <mat-card-title class="m-b-0">J'ai mangé quoi ?</mat-card-title>
        </mat-card-header>
        <mat-card-content class="b-t-1 d-flex gap-24">
          <form
            [formGroup]="mealProductForm"
            class="d-flex flex-column align-items-center gap-24"
          >
            <div class="d-flex flex-column justify-content-center">
              <app-search-product-autocomplete
                class="d-flex justify-content-center"
              ></app-search-product-autocomplete>
              <div>
                <app-card-product
                  [productInfoModel]="productInfoModelSelected!"
                ></app-card-product>
                @if(!productInfoModelSelected?.id){
                <p class="f-s-12 text-error m-8 m-t--16">
                  &nbsp;&nbsp;&nbsp;&nbsp;Champ obligatoire
                </p>
                }
              </div>
            </div>
            <div class="d-flex flex-column gap-24">
              <mat-chip-listbox
                [formControlName]="MEAL_ADD_PRODUCT_SELECT_CHIP"
              >
                @for (meal of meals; track $index) {
                <mat-chip-option
                  class="custom-chip"
                  [ngClass]="meal.disabled ? '' : meal.class"
                  [value]="meal"
                  [disabled]="meal.disabled!"
                  ><div
                    class="chip-content d-flex flex-column align-content-center"
                  >
                    <span class="chip-label d-flex justify-content-center">{{
                      meal.label
                    }}</span>
                    @if(meal.timeHour){
                    <span class="chip-time d-flex justify-content-center">{{
                      meal.timeHour
                    }}</span>
                    }
                  </div></mat-chip-option
                >
                }
              </mat-chip-listbox>

              <mat-form-field appearance="outline">
                <mat-label>Quantité (g)</mat-label>
                <input
                  matInput
                  type="number"
                  [formControlName]="QUANTITY_FORM"
                  placeholder="Ex. 100"
                  required
                />
                @if(quantityControl.invalid){
                <mat-error>Champ obligatoire</mat-error>
                }
              </mat-form-field>

              <button
                mat-fab
                extended
                [ngClass]="
                  this.mealAddProdcutChipControl.value &&
                  this.quantityControl.value &&
                  productInfoModelSelected
                    ? 'bg-light-success text-success'
                    : 'bg-light text-dark'
                "
                (click)="addMealProductToResult()"
                [disabled]="
                  !(
                    this.mealAddProdcutChipControl.value &&
                    this.quantityControl.value &&
                    productInfoModelSelected
                  )
                "
              >
                <div class="d-flex align-items-center">
                  <i-tabler
                    class="icon-20 m-r-4"
                    name="shopping-cart-plus"
                  ></i-tabler
                  ><span class="m-4">Ajouter au repas</span>
                </div>
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

    <app-table-product-meal
      class="d-flex justify-content-center gap-16"
      #tableProductMealComponent
      [mealProduct]="mealProduct!"
      (eventMealProductsBreakfast)="onMealProductsBreakfastChange($event)"
      (eventMealProductsLunch)="onMealProductsLunchChange($event)"
      (eventMealProductsDinner)="onMealProductsDinnerChange($event)"
    ></app-table-product-meal>

    <app-chart-meal-product
      class="d-flex justify-content-center"
      [mealProductsBreakfast]="mealProductsBreakfast"
      [mealProductsLunch]="mealProductsLunch"
      [mealProductsDinner]="mealProductsDinner"
    ></app-chart-meal-product>
  </mat-card-content>
</mat-card>
