.mat-card-actions {
    display: flex;
      justify-content: space-between;
      padding-bottom: 2rem;
  }

  .fields {
    display: inline-flex;
    justify-content: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;

  }

  .product-mandatory {
    border-color: #d92828;
    border-width: thin;
    margin-top: 0.4rem;
  }