<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Comparer des produits</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex hstack justify-content-evenly">
    <div class="d-flex flex-column align-items-center">
      <mat-card-header class="p-16">
        <span
          class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-16"
        >
          Produit A
        </span>
      </mat-card-header>
      <mat-card-content class="d-grid justify-items-center p-t-16 m-b--24">
        <app-card-product
          [productInfoModel]="productInfoModelA"
        ></app-card-product>
        <button
          mat-fab
          color="primary"
          (click)="viewProduct(productInfoModelA)"
          [disabled]="!productInfoModelA.id"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-actions>
        <app-table-generic
          class="w-100"
          [columns]="columnParamsMacroNutriments"
          [paginatedDataSource]="macroNutrimentsDataSourcesA"
          [isPaginated]="false"
        ></app-table-generic>
      </mat-card-actions>
    </div>
    <mat-divider [vertical]="true" class="m-x-16"></mat-divider>
    <div class="d-flex flex-column align-items-center">
      <app-search-product-autocomplete
        class="d-flex justify-content-center p-t-16"
      ></app-search-product-autocomplete>
      <mat-card-content class="d-grid justify-items-center">
        <app-card-product
          [productInfoModel]="productInfoModelSelected"
        ></app-card-product>
        <div class="d-flex justify-content-center w-100">
          <button
            class="m-x-16"
            mat-fab
            color="primary"
            (click)="addProductToLeft(productInfoModelSelected!)"
            [disabled]="!productInfoModelSelected.id"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            class="m-x-16"
            mat-fab
            color="primary"
            (click)="addProductToRight(productInfoModelSelected!)"
            [disabled]="!productInfoModelSelected.id"
          >
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions class="d-grid">
        <app-table-generic
          [columns]="columnParamsCompare"
          [isPaginated]="false"
          [isRowCentered]="true"
          [rowHeight]="'3.25rem'"
        ></app-table-generic>
        @for(chartData of dailyRecommanderIncomeChartsBarData; track $index){
        <div>
          <app-chart
            type="bar"
            [data]="chartData!"
            [options]="optionsBar"
            [height]="30"
          ></app-chart>
          <span class="d-flex justify-content-center">
            @if(percentCompare[$index]){ @if(percentCompare[$index].percent! &&
            percentCompare[$index].percent! > 0){ +{{
              percentCompare[$index].diffValue! | roundNumberDecimal : 1
            }}
            {{ percentCompare[$index].unit }}
            <strong
              >&nbsp; (+{{ percentCompare[$index].percent! | percent }})
            </strong>
            } @else {
            {{ percentCompare[$index].diffValue! | roundNumberDecimal : 1 }}
            {{ percentCompare[$index].unit }}
            <strong
              >&nbsp; ({{ percentCompare[$index].percent! | percent }})
            </strong>
            } } @else { Pas de données }
          </span>
          @if(dailyRecommanderIncomeChartsBarData?.length! -1 !== $index){
          <mat-divider></mat-divider>
          }
        </div>
        }
      </mat-card-actions>
    </div>
    <mat-divider [vertical]="true" class="m-x-16"></mat-divider>
    <div class="d-flex flex-column align-items-center">
      <mat-card-header class="d-flex p-16">
        <span
          class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-16"
        >
          Produit B
        </span>
      </mat-card-header>
      <mat-card-content class="d-grid justify-items-center p-t-16 m-b--24">
        <app-card-product
          [productInfoModel]="productInfoModelB"
        ></app-card-product>
        <button
          mat-fab
          color="primary"
          (click)="viewProduct(productInfoModelB)"
          [disabled]="!productInfoModelB.id"
        >
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-card-content>
      <mat-card-actions>
        <app-table-generic
          class="w-100"
          [columns]="columnParamsMacroNutriments"
          [paginatedDataSource]="macroNutrimentsDataSourcesB"
          [isPaginated]="false"
        ></app-table-generic>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
