@use "app-utils" as utils;

.fields {
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.product-mandatory {
  border-color: #d92828;
  border-width: thin;
  margin-top: 0.4rem;
}

.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.product-image {
  display: inline-flex;
  justify-content: center;
  padding: 0.5rem;
  max-width: max-content;
}

.product-score {
  height: 2rem;
  width: auto;
}

.mat-card-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  margin-top: auto;
}

.example-box {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.productA-panel {
  border-color: utils.get-couleur-secondaire();
  border-width: medium;
  border-style: solid;
}

.productB-panel {
  border-color: utils.get-couleur-principale();
  border-width: medium;
  border-style: solid;
}
