<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="b-t-1 d-flex">
  <form
    class="m-t-24 gap-16 d-flex flex-column"
    style="justify-content: center"
    [formGroup]="bannerCreateForm!"
  >
    <mat-form-field appearance="outline">
      <mat-label>Message</mat-label>
      <textarea
        matInput
        type="text"
        [formControlName]="MESSAGE_INPUT"
        required
      ></textarea>
      @if(messageControl.invalid){
      <mat-error>Champ obligatoire</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select [formControlName]="TYPE_INPUT" [(value)]="selectedType">
        @for (type of typeCodeLabels; track $index) {
        <mat-option [value]="type.code">{{ type.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Choisir une date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [formControlName]="DATE_CREATION_FIELD"
        ngDefaultControl
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-checkbox [formControlName]="IS_ACTIVE_FIELD">Actif</mat-checkbox>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button (click)="createOrUpdate()">
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="device-floppy"></i-tabler>
      <span class="m-4">Enregistrer</span>
    </div>
  </button>
  <button mat-button mat-dialog-close>
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="x"></i-tabler
      ><span class="m-4">Fermer</span>
    </div>
  </button>
</mat-dialog-actions>
