<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
  {{ data.message }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="danger" (click)="deleteAccount()" cdkFocusInitial>
    <mat-label>Confirmer</mat-label>
    <mat-icon> delete_permanantly</mat-icon>
  </button>
  <button mat-button color="primary" mat-dialog-close cdkFocusInitial>
    <mat-label>Fermer</mat-label>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
