<div
  id="bannerId"
  [ngClass]="bannerType === 'info' ? 'bg-light-primary' : 'bg-warning'"
  [style.display]="isOpened ? 'block' : 'none'"
>
  <div class="p-x-48 p-y-24 d-flex justify-content-between align-items-center">
    @switch (bannerType) { @case ('info') {
    <i-tabler class="text-light icon-30 m-r-4" name="message"></i-tabler>
    } @case ('warn') {
    <i-tabler
      class="text-light icon-30 m-r-4"
      name="alert-square-rounded"
    ></i-tabler>
    } }
    <span class="text-light f-s-16 f-w-600">{{
      bannerToDisplay?.message
    }}</span>
    <button mat-icon-button (click)="closeBanner()">
      <i-tabler class="text-light" name="x"></i-tabler>
    </button>
  </div>
</div>
