<mat-card class="shadow">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0"
      >Filtres de recherche de favoris</mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex flex-column">
    <form
      [formGroup]="filterForm!"
      class="d-flex justify-content-start flex-wrap-wrap gap-16"
    >
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input matInput type="text" [formControlName]="NAME_FIELD" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Code barre</mat-label>
        <input matInput type="text" [formControlName]="PRODUCT_ID_FIELD" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Plage de dates</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [formControlName]="DATE_CREATION_START_FIELD" />
          <input matEndDate [formControlName]="DATE_CREATION_END_FIELD" />
        </mat-date-range-input>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nutriscore</mat-label>
        <mat-select
          [formControlName]="NUTRISCORE_FIELD"
          [compareWith]="compareCategoryObjects"
          ngDefaultControl
        >
          <mat-select-trigger>
            <img
              *ngIf="nutriscoreControl.value"
              [src]="nutriscoreControl.value"
              class="ah-48 aw-auto"
            />
          </mat-select-trigger>

          <mat-option [value]="">Tous</mat-option>
          @for (option of NUTRISCORE_OPTIONS; track $index) {
          <mat-option [value]="option">
            <img [src]="option" class="ah-48 aw-auto" />
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ecoscore</mat-label>
        <mat-select
          [formControlName]="ECOSCORE_FIELD"
          [compareWith]="compareCategoryObjects"
          ngDefaultControl
        >
          <mat-select-trigger>
            <img
              *ngIf="ecoscoreControl.value"
              [src]="ecoscoreControl.value"
              class="ah-48 aw-auto"
            />
          </mat-select-trigger>
          <mat-option [value]="">Tous</mat-option>
          @for (option of ECOSCORE_OPTIONS; track $index) {

          <mat-option [value]="option">
            <img [src]="option" class="ah-48 aw-auto" />
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Novagroup</mat-label>
        <mat-select
          [formControlName]="NOVAGROUP_FIELD"
          [compareWith]="compareCategoryObjects"
          ngDefaultControl
        >
          <mat-select-trigger>
            <img
              *ngIf="novagroupControl.value"
              [src]="novagroupControl.value"
              class="ah-48 aw-auto"
            />
          </mat-select-trigger>
          <mat-option [value]="">Tous</mat-option>
          @for (option of NOVAGROUP_OPTIONS; track $index) {
          <mat-option [value]="option">
            <img [src]="option" class="ah-48 aw-auto" />
          </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Statut</mat-label>
        <mat-select
          [formControlName]="IS_ENABLED_FIELD"
          [compareWith]="compareCategoryObjects"
          ngDefaultControl
        >
          @for (option of STATUS_OPTIONS; track $index) {
          <mat-option [value]="option.value"> {{ option.label }} </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <button class="m-r-8" mat-flat-button (click)="searchFavorite()">
        <div class="d-flex align-items-center">
          <i-tabler class="icon-20 m-r-4" name="search"></i-tabler
          ><span class="m-4">Rechercher</span>
        </div>
      </button>

      <button class="m-r-8" mat-button (click)="reinitFilters()">
        <div class="d-flex align-items-center">
          <i-tabler class="icon-20 m-r-4" name="restore"></i-tabler
          ><span class="m-4">Reinitialiser les filtres</span>
        </div>
      </button>
    </form>
  </mat-card-content>
</mat-card>
<app-product-card-list
  [productInfos]="productInfos!"
  [totalElements]="totalElements!"
  [pageSize]="pageSize!"
  [isPaginated]="true"
  [displayDeleteFavoriteButton]="true"
  (onChangePage)="searchFavorite($event.pageIndex)"
  (relaodCards)="searchFavorite()"
>
</app-product-card-list>
