<mat-card class="shadow">
  <mat-card-header class="d-flex justify-content-between">
    <mat-card-title class="m-b-0">Souscrire à un abonnement</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1 d-flex flex-column align-items-center">
    <div class="d-flex gap-16 flex-column m-b-24">
      <h1 class="d-flex justify-content-center">
        {{ title }}
      </h1>
      <p>
        {{ description }}
      </p>
    </div>
    <div class="d-flex gap-16 justify-content-center">
      @for(price of prices; track $index){
      <mat-card class="cardNoClick">
        <mat-card-header class="d-flex justify-content-center">
          <h3 *ngIf="price.class" [ngClass]="price.class">
            {{ price.title }}
          </h3>
        </mat-card-header>
        <mat-card-content class="b-t-1 d-flex flex-column">
          <div class="d-flex justify-content-center m-y-24">
            <h1>
              {{ price.price }}
            </h1>
            <span> / mois</span>
          </div>
          <div>
            <mat-list class="d-flex flex-column gap-24">
              @for(feature of price.features; track $index){
              <div class="d-flex align-items-center gap-24">
                <i-tabler
                  class="icon-20 m-r-4 text-success"
                  name="check"
                ></i-tabler>
                <label>{{ feature }}</label>
              </div>
              }
            </mat-list>
          </div>
        </mat-card-content>
        <mat-card-footer class="m-t-auto p-16 d-flex justify-content-center">
          @if(price.buttonDisplayed$ |async) {
          <button
            mat-flat-button
            class="bg-light-success text-success d-flex justify-content-between"
            (click)="price.action()"
          >
            <span>{{ price.link }}</span>
          </button>
          }
        </mat-card-footer>
      </mat-card>
      }
    </div>
  </mat-card-content>
</mat-card>
