<h2 mat-dialog-title>Se connecter</h2>
<mat-dialog-content
  class="mat-typography d-flex flex-column align-items-center"
>
  <app-login-google
    [isSignin]="true"
    (eventLogin)="loginAndClosePopUp($event)"
  ></app-login-google>

  <div class="or-border m-t-30">Ou vous connecter avec :</div>

  <form [formGroup]="signinForm!" class="m-t-30">
    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Adresse email</mat-label>
    <mat-form-field class="w-100" color="primary" appearance="outline">
      <input
        matInput
        type="email"
        [formControlName]="EMAIL_INPUT"
        placeholder="Ex. aa@bb.com"
        required
      />
      @if(emailControl.invalid){
      <mat-error>Champ obligatoire</mat-error>
      }
    </mat-form-field>
    <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Mot de passe</mat-label>
    <mat-form-field class="w-100" color="primary" appearance="outline">
      <input
        matInput
        type="password"
        [formControlName]="PASSWORD_INPUT"
        required
        (keydown.enter)="signIn()"
      />
      @if(passwordControl.invalid){
      <mat-error>Champ obligatoire</mat-error>
      }
    </mat-form-field>
    <div class="d-flex align-items-center m-b-12">
      <a
        [routerLink]="['/']"
        class="text-primary f-w-600 text-decoration-none m-l-auto f-s-14"
        >Forgot Password ?</a
      >
    </div>
  </form>

  <span class="d-block f-w-500 text-center m-t-24"
    >Noueau ici ?
    <a
      href
      (click)="redirectSignUpPopin($event)"
      class="text-decoration-none text-primary f-w-500 f-s-14"
    >
      Créer un compte</a
    >
  </span>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button (click)="signIn()">
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="user"></i-tabler>
      <span class="m-4">Se connecter</span>
    </div>
  </button>
  <button mat-button mat-dialog-close>
    <div class="d-flex align-items-center">
      <i-tabler class="icon-20 m-r-4" name="x"></i-tabler
      ><span class="m-4">Fermer</span>
    </div>
  </button>
</mat-dialog-actions>
