<mat-card class="shadow aw-540 position-absolute">
  <mat-card-header class="d-flex justify-content-between p-0 m-0">
    <img
      class="aw-540 m-l--24 m-t--24 r-t-r-7 r-t-l-7"
      mat-card-image
      src="../../../../assets/svg/profilebg.jpg"
    />
  </mat-card-header>
  <div
    class="d-flex justify-content-center align-items-end m-t--60 position-relative"
  >
    <img
      [src]="user.image"
      class="aw-100 rounded-circle border-primary bg-light"
    />
    <button class="m-l--24" mat-mini-fab (click)="openPopInAvatar()">
      <i-tabler class="icon-20 m-r-4" name="pencil-bolt"></i-tabler>
    </button>
  </div>
  <mat-card-content class="m-t--48">
    <form
      [formGroup]="editProfilForm!"
      class="m-t-60 gap-16 d-flex flex-wrap-wrap"
    >
      <mat-form-field appearance="outline">
        <mat-label>Nom</mat-label>
        <input
          matInput
          type="text"
          [formControlName]="NAME_FIELD"
          [value]="user.name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Prenom</mat-label>
        <input
          matInput
          type="text"
          [formControlName]="FIRSTNAME_FIELD"
          [value]="user.firstname"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input
          matInput
          type="text"
          [formControlName]="USERNAME_FIELD"
          [value]="user.username"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          [formControlName]="EMAIL_FIELD"
          [value]="user.email"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Taille</mat-label>
        <input
          matInput
          type="number"
          [formControlName]="HEIGHT_FIELD"
          [value]="user.height"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Poids</mat-label>
        <input
          matInput
          type="number"
          [formControlName]="WEIGHT_FIELD"
          [value]="user.name"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Genre</mat-label>
        <mat-select
          [formControlName]="GENDER_FIELD"
          [compareWith]="compareCategoryObjects"
        >
          @for (gender of genders; track $index) {
          <mat-option [value]="gender.id">{{ gender.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </form>
    <button
      class="m-r-8 text-success bg-light-success"
      mat-flat-button
      (click)="updateUser()"
    >
      <div class="d-flex align-items-center">
        <i-tabler class="icon-20 m-r-4" name="user-edit"></i-tabler
        ><span class="m-4">Modifier</span>
      </div>
    </button>
  </mat-card-content>
</mat-card>
